<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-image: url(../static/NewBackground.png);">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
        <div>
          <img src="../static/MLogo.png" style="border-top-left-radius: 10px;height: 35px;width: 40px;border-bottom-left-radius: 10px;position: relative;" alt="">
          <a class="navbar-brand" href="/home" style="background-color: white;width: 87px;height: 35px;color: black;align-content: center;position: fixed;">SwiftCart</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark btn-light" href="/home" style="margin-left: 88px;vertical-align: middle;height: 36.5px;border-radius: 0px;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-outline-dark btn-light" href="#" style="vertical-align: middle;height: 36.5px;border-radius: 0px;">Items <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="btn btn-outline-dark btn-light " style="vertical-align: middle;height: 36.5px;border-radius: 0px;" href="/about">About</a>
                </li>
                <li class="nav-item active">
                    <a id="cart-link" class="btn btn-outline-dark btn-light" href="/cart" role="button" style="margin-right: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;height: 36px;">Cart</a>
                </li>
            </ul>
            <img src="../static/Navbar.png" style="width: 280px;height: 40px;margin-right: 25%;border-radius: 5px;" alt="">
            <!-- Add a button for opening the cart page with a cart icon -->
            <a class="btn btn-outline-warning my-2 my-sm-0" href="/cart" role="button" style="width: 15%;margin-right: 15px;">
                <i class="fas fa-shopping-cart"></i> Cart
            </a>
        </div>
    </nav>

    <div class="container mt-4" style="font-family: auto;">
        <h1 style="margin-top: 75px;">Cart</h1>
        
        <table class="table table-striped table-dark">
            <thead >
                <tr>
                    <th >Item Name</th>
                    <th >Quantity</th>
                    <th >Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% if items_in_cart %}
                    {% for item, quantity, total_price in items_in_cart %}
                        <tr>
                            <td>{{ item.Item_Name }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ total_price }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No items in the cart</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div style="font-family: auto;font-size: larger;">
            <span style="background-color: #979797;padding: 5px;border-radius: 5px; color: #fff9d3">
                Total Cart Price: ₹{{ total_price }}</div>
            </span>
        
        <!-- Checkout button -->
        <a class="btn btn-warning btn-lg" style="margin-top: 25px;" href="/order">Checkout</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+Ii8OKb5yl7DPmIcVT9a/3p3Jwe5u8Tiz5K0BUp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
